@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  margin-bottom: 16px;
}

.container > label {
  font-family: Inter;
  color: var(--ds-gray-900, #a1a1a1);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.container > span:nth-child(2) {
  color: var(--red);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.input {
  position: relative;
  display: block;
}

.input > span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input > input {
  display: block;
  width: 100%;
  padding: 16px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 5px 0;
  border-radius: 12px;
  animation: appear 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--ds-gray-400, #2e2e2e);
  color: #888888;
  background: var(--ds-background-100, #0a0a0a);
}

.input input:focus {
  outline: none;
}

.input input:focus {
  border: 1px solid #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #888888;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

input:valid {
  background: transparent;
  color: var(--geist-color-secondary-geist-secondary, #888888);
}

.valid {
  border: 1px solid var(--ds-gray-400, #2e2e2e);
}

.invalid {
  border: 1px solid #ff6166;
  color: #ff6166;
}

.input > input::placeholder {
  color: #8897ad;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--geist-color-secondary-geist-secondary, #888888);
}
.errorMessage {
  color: #ff6166;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  animation: appear 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tip {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #e63e21;
}

.quill {
  border-radius: 10px;
}

.quill > div {
  border-radius: 10px;
  margin-bottom: 1rem;
  color: #888888;
  border: 1px solid #2e2e2e;
}

.quill > div:nth-child(2) {
  border-top: 1px solid var(#2e2e2e);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  border-radius: 12px;
  animation: appear 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(#2e2e2e);
  color: #888888;
}

.quill > div:nth-child(2) > div > p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .input > input {
    padding: 12px;
    font-family: Inter;
    font-size: 14px;
    line-height: 23px;
    border-radius: 5px;
  }

  .container > label {
    font-size: 16px;
    line-height: 25px;
  }

  .errorMessage {
    font-size: 10px;
    line-height: 18px;
  }

  .input > span {
    right: 10px;
  }
}

@media screen and (max-width: 767px) and (max-width: 1023px) {
  .input > input {
    padding: 12px;
    font-family: Inter;
    font-size: 14px;
    line-height: 23px;
    border-radius: 5px;
  }

  .container > label {
    font-size: 16px;
    line-height: 25px;
  }

  .errorMessage {
    font-size: 10px;
    line-height: 18px;
  }

  .input > span {
    right: 10px;
  }
}
