.button {
  border-radius: 5px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: Inter;
  font-size: var(--paragraphFontSize);
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}

.primary {
  border: none;
  background: #e63e21;
  color: #fff;
}

.secondary {
  border: 1px solid var(--orange);
  color: var(--ds-gray-1000, #ededed);
  background: var(--orangeWithTransparency);
}

.tertiary {
  color: var(--white);
  background: transparent;
  border: none;
}

.tertiary:hover {
  background: var(--orangeWithTransparency);
}

.tertiary:active {
  background: var(--tertiaryButtonActive);
}

.null {
  color: var(--purple);
  border: none;
  background: transparent;
}

.invalid {
  border: 1px solid var(--red);
  color: var(--red);
  background: transparent;
}

.delete {
  background: var(--red);
  color: var(--white);
  border: none;
}

.primary:disabled,
.secondary:disabled,
.tertiary:disabled {
  background-color: #888888;
  border: 1px solid transparent;
}

.black {
  background: var(--black);
  color: var(--white);
  border: none;
}

.white {
  color: var(--black);
  background: var(--white);
  border: none;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .button {
    font-size: 14px;
    line-height: 23px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 14px;
    line-height: 23px;
  }
}
