.card {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  padding: 0.75rem;
  max-width: 340px;
  width: 100%;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 28px rgba(0, 0, 0, 0.15);
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.title {
  font-size: var(--headerFontSize);
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.description {
  font-size: var(--paragraphFontSize);
  color: #ccc;
  margin-bottom: 0.5rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  background: rgba(255, 255, 255, 0.15);
  padding: 0.3rem 0.75rem;
  border-radius: calc(infinity * 1rem);
  font-size: var(--paragraphFontSize);
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.members {
  display: flex;
  align-items: center;
  gap: -0.5rem;
  position: relative;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  z-index: 1;
}

.avatar:not(.avatar:first-child) {
  margin-left: -8px;
}

.more {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;
  z-index: 0;
}

.progressWrapper {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
  width: 100px;
  height: 6px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background: linear-gradient(90deg, #cb5e4b, #e63e21);
  transition: width 0.4s ease-in-out;
  border-radius: 999px;
}
