.container {
  width: 500px;
}

.container > h1,
.container > form > div > h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.container > form > div > h2 {
  margin-block: 1rem;
}

.container > h1 {
  margin-block: 1.5rem;
}

.options {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.options > div {
  cursor: pointer;
}

.options > div > div {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.container > button {
  margin-top: 2rem;
}

.butotonSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.emails > h2 {
  font-size: 14px;
  margin: 0;
}

.emails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.emails > button {
  max-width: 50px;
}

.email {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.email > div {
  flex: 1;
}

.joinOrg > div:nth-child(1) {
  margin-bottom: 1.5rem;
}

.organizations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2.5rem;
}

.organizations > h4 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.organizations > p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray2);
  width: 100%;
  margin-bottom: 1.5rem;
}
