.container {
  max-width: 800px;
  margin: auto;
}

.container > h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
  margin-bottom: 2rem;
}

.subTaskSections {
  margin: 1rem 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  color: #c0c0c0;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputGroup > div {
  flex: 1;
}

.subTask {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.subTask > span:nth-child(3) {
  margin-left: auto;
  font-size: 12px;
  cursor: pointer;
  color: #e63e21;
}

.subTaskInput > button {
  width: 300px;
}

.description {
  margin: 1rem 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  color: #c0c0c0;
}

.label {
  font-family: Inter;
  color: var(--ds-gray-900, #a1a1a1);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
