.outerContainer {
  display: flex;
  height: 90vh;
  overflow: hidden;
  width: 500px;
  gap: 1rem;
  padding: 1rem 0.5rem;
  font-family: Inter;
}

.outerContainer > div {
  width: 100%;
  font-size: 2px;
}

.outerContainer > div > div {
  height: 100%;
}

.outerContainer > div > div > div:nth-child(1) {
  height: 100%;
  background: none;
  padding: 1rem;
}

h2 {
  font-size: 14px;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions > button:nth-child(1) {
  margin-left: auto;
}
