.container {
  padding: 1rem;
  overflow: auto;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.sent {
  align-items: flex-end;
}

.received {
  align-items: flex-start;
}

.received > .chatBubble {
  background-color: var(--orangeWithTransparency);
  border: 1px solid var(--orange);
}

.sent > .chatBubble {
  background-color: var(--black1);
}

.chatBubble {
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 12px;
  color: var(--white);
  background-color: var(--orange);
  min-width: 50%;
  max-width: 80%;
}

.details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 12px;
  color: var(--gray);
  margin-top: 0.25rem;
}
