.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - (80px + 8rem));
}

.innerContainer > h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
  color: #f35034;
}

.innerContainer > h4 > sup {
  color: #fff;
  font-size: 16px;
}

.innerContainer > p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  margin: 1rem 0;
}

.type > i:nth-child(1) {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  color: #c0c0c0;
}

.type > ol > li > p:nth-child(1) {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  margin: 0.2rem 0;
}

.type > ol > li > p:nth-child(2) {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  color: #c0c0c0;
}

.buttonSection {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.buttonSection > button {
  width: 100px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 1.5rem;
  }

  .innerContainer > h4 {
    font-family: Inter;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    color: #f35034;
  }

  .innerContainer > h4 > sup {
    color: #fff;
    font-size: 14px;
  }

  .innerContainer > p {
    font-size: 14px;
    line-height: 150%;
    margin: 0.8rem 0;
  }

  .type > i:nth-child(1) {
    font-size: 14px;
    line-height: 150%;
  }

  .type > ol > li > p:nth-child(1) {
    font-family: Inter;
    font-size: 14px;
    line-height: 150%;
    margin: 0.2rem 0;
  }

  .type > ol > li > p:nth-child(2) {
    font-size: 14px;
    line-height: 150%;
  }

  .buttonSection {
    margin-top: 1.5rem;
  }

  .buttonSection > button {
    width: 100px;
  }
}
