.outerContainer {
  padding: 1rem 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.container > div {
  flex-basis: calc(20% - 0.5rem);
}

.header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.header > div:not(.input, .button) {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  position: relative;
}

.header > div:not(.input, .button) > svg {
  width: 16px;
  height: 16px;
}

.header > div:not(.input, .button):hover {
  box-shadow: 0 18px 28px rgba(0, 0, 0, 0.15);
  position: relative;
}

.input {
  min-width: 360px;
}

.input > input {
  display: block;
  min-width: 100%;
  padding: 8px;
  font-family: Inter;
  font-size: var(--paragraphFontSize);
  font-weight: 400;
  line-height: 12px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--white);
  background: var(--ds-background-100, #0a0a0a);
  position: relative;
  outline: 1px solid transparent;
}

.input > input:focus {
  outline: 1px solid var(--orangeWithTransparency);
  border: 1px solid var(--orangeWithTransparency);
}

.header > button,
.header > div > button {
  /* padding: 0.25rem 0.5rem; */
  font-size: 14px;
}

.header > button > svg {
  width: 16px;
  height: 16px;
}

.header > div:nth-child(2),
.button {
  margin-left: auto;
}

.options {
  position: absolute;
  padding: 0.5rem;
  z-index: 2;
  top: 120%;
  right: 0;
  min-width: 140px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.options > div {
  padding: 0.25rem;
  border-radius: 5px;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.options > div > svg {
  width: 16px;
  height: 16px;
  color: green;
}

.options > div:hover {
  background-color: var(--black1);
}

.options > div > span {
  font-size: 12px;
}
