.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: auto;
}

.container > div {
  flex-shrink: 0;
}

.container > h1 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  text-align: left;
}

.container > button {
  margin-left: auto;
  max-width: 130px;
}

.header {
  background-position: center center;
  background-size: contain;
}
