.outerContainer {
  border-radius: 5px;
  padding: 2px;
  transition: all 0.2s ease-in-out;
  background: var(--black1);
}

.outerContainer:hover {
  background: var(--orangeWithTransparency);
}

.active {
  background: linear-gradient(
    270deg,
    #1b1b1b,
    #2f2f5f,
    #4a90e2,
    #9b59b6,
    #e63e21,
    #ffcc00,
    #1b1b1b
  );
  background-size: 400% 400%;
  animation: colorMotion 6s ease infinite;

  box-shadow: 0 0 10px rgba(230, 62, 33, 0.6), 0 0 20px rgba(155, 89, 182, 0.5),
    0 0 30px rgba(74, 144, 226, 0.4);
  border-radius: 7px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0),
    transparent
  );
  animation: shimmer 3s infinite;
  border-radius: inherit;
  z-index: -1;
}

@keyframes colorMotion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.inActive {
  background: var(--black1);
}

.container {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--black);
}

@keyframes colorMotion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
