.container {
  flex: 1;
  padding: 1rem;
  border-radius: 12px;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 320px;
}

.container > h3 {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: var(--headerFontSize);
}
