.container {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.loadButton {
  flex-basis: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
