.container {
  height: 100svh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.container > section:nth-child(1) {
  border-right: 1px solid var(--black1);
  width: 250px;
}

.container > section:nth-child(2) {
  flex: 1;
  position: relative;
  height: 100svh;
  overflow-y: auto;
}

.container > section:nth-child(3) {
  transition: all 0.2s ease-in-out;
  height: 100vh;
  position: absolute;
  right: 8px;
  background: var(--black);
  z-index: 10;
  border-radius: 5px;
  max-width: 400px;
}

.rightOpen {
  border-left: 1px solid var(--black1);
  translate: 0px;
}

.rightClosed {
  border-left: 1px solid transparent;
  translate: 400px;
}

.container > section > header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: var(--black);
}

.container > section > section:nth-child(2) {
  height: calc(100svh - 60px);
  flex: 1;
}
