.container > div {
  margin-bottom: 1rem;
}

.todos {
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.todos > div {
  flex-basis: 50%;
}

.todos > div {
  max-height: 500px;
  min-height: 300px;
}

.todos > div > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 1.5rem;
  }

  .todos {
    flex-direction: column;
  }

  .todos > div {
    max-height: 500px;
    overflow: hidden;
    border-radius: 16px;
  }

  .todos > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}
