.outerContainer {
  height: 100svh;
}

.outerOuterContainer {
  position: relative;
  user-select: none;
}

.outerContainer {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  flex-basis: calc(100svh - 140px);
  overflow: auto;
}

.altContainer {
  height: 140px;
  padding-block: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 3rem;
}

.header > h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  gap: 0rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.header > h1:hover {
  background-color: var(--black1);
}

.header > button {
  margin-left: auto;
  padding: 4px;
}

.container > nav {
  margin-top: 1.5rem;
}

.container > nav > a,
.altContainer > a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px;
  margin-bottom: 8px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.container > nav > a:hover,
.altContainer > a:hover,
.container > nav > h3:hover,
.subItem:hover {
  background-color: var(--black1);
  color: var(--orange);
}

.container > nav > a:hover > span,
.altContainer > a:hover > span {
  color: var(--orange);
}

.container > nav > a > span,
.altContainer > a > span {
  font-family: Inter;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.34%;
  color: var(--white);
  font-family: Inter;
  font-weight: 542;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.34%;
  transition: all 0.2s ease-in-out;
}

.container > nav > h3 {
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.34%;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  padding: 6px;
  border-radius: 5px;
}

.options {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.subItem {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-family: Inter;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.34%;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 8px;
  padding: 6px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-left: 8px;
  white-space: nowrap;
}

.subItem > svg {
  flex-shrink: 0;
}

.subItem > a {
  text-decoration: none;
}

.subItem > img {
  width: 24px;
  height: 24px;
}

.resizer {
  position: absolute;
  top: 0;
  right: -1px;
  width: 4px;
  height: 100%;
  cursor: col-resize;
  z-index: 20;
}
