@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --white: #fff;
  --black1: #1b1b1b;
  --orange: #e63e21;
  --orangeWithTransparency: #e63e2158;
  --gray: #a1a1a1;
  --headerFontSize: 16px;
  --paragraphFontSize: 14px;
  --red: #780606;
  --gray2: #a1a1a1;
  --green: #219653;
}

body {
  margin: 0;
  font-family: Inter, Asimovian, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: Inter, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.quill {
  border: none;
  color: #888888 !important;
}

.ql-container.ql-snow {
  border: 0px solid transparent !important;
  color: #888888 !important;
}

.ql-toolbar.ql-snow {
  border-radius: 12px;
  padding: 0px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid var(--ds-gray-400, #2e2e2e) !important;
  color: #888888 !important;
}

.ql-editor {
  display: block;
  width: 100%;
  padding: 18px 15px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 5px 0;
  border-radius: 12px;
  animation: appear 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--ds-gray-400, #2e2e2e);
  color: #888888 !important;
}

.EmojiPickerReact.epr-dark-theme {
  --epr-emoji-size: 20px;
  --epr-emoji-gap: 8px;
  --epr-hover-bg-color: #333333;
  --epr-bg-color: #000000;
  --epr-text-color: #f0f0f0;
  --epr-category-label-bg-color: #000;
}

::selection {
  background-color: var(--orangeWithTransparency);
  color: var(--white);
}

.no-scroll-bar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

body.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-compensation, 0px);
}
