.container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}

.container > h1 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  text-align: left;
}

.container > button:nth-child(3) {
  margin-left: auto;
}

.container > button > svg {
  flex-shrink: 0;
}

.inputSection {
  position: relative;
}

.inputSection > input {
  display: block;
  width: 100%;
  padding: 7px;
  font-family: Inter;
  font-size: var(--paragraphFontSize);
  font-weight: 400;
  line-height: 12px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--gray);
  color: var(--white);
  background: var(--ds-background-100, #0a0a0a);
  position: relative;
  min-width: 350px;
  text-indent: 1.2rem;
  font-size: 12px;
}

.inputSection input:focus {
  outline: none;
}

.inputSection input:focus {
  border: 1px solid #fff;
}

.inputSection > input::placeholder {
  color: #8897ad;
  font-family: Inter;
  font-size: var(--paragraphFontSize);
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--geist-color-secondary-geist-secondary, #888888);
  font-size: 12px;
}

.search {
  position: absolute;
  left: 0.5rem;
  top: 0;
  bottom: 0;
  margin-block: auto;
}
